.card-header{
background: linear-gradient(to right, #2B32B2, #1488CC);
}


label.error {
  color: darkred;
}

input.error {
  border: 1px solid darkred;
}

input.error, select, textarea {
  border: 1px solid darkred;
}



